.react-calendar, .react-calendar__navigation__arrow, .react-calendar__navigation__label, .react-calendar__navigation, .react-calendar__tile {
  background-color: #505050;
  font-size: 10px !important;
}

.react-calendar__navigation__arrow {
    background-color: #505050 !important;
}

.react-calendar__tile:disabled {
    background-color: #303030 !important;
}

.react-calendar__tile--active .react-calendar__tile--range {
    background-color: gold !important;
    color: black;
}