@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'OPTIEdgarBold-Extended';
    src: url('/OPTIEdgarBold-Extended.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background: #d5d5d5;
    --foreground: #000000;
}

:root.dark {
    --background: #000000;
    --foreground: #e2e8f0;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    min-height: 100vh;
    padding: 16px;
    overflow-x: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
